body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #777;
  font: 16px/1.5;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

h1,
h2,
h3,
h4 {
  color: #42A0BD;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  margin: 1.4em 0 1em;
}

h2 {
  font-size: 50px;
  margin: 1em 0 .3em 0;
  color: #42A0BD;
}

.btn {
  display: inline-block;
  color: #42A0BD;
  background: transparent;
  border: 1px solid #42A0BD;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  padding: .25rem .5rem;
  font-size: 1rem;
  margin: .5em 0;
  line-height: 1.6;
  border-radius: .25rem;
  transition: none;
}

.copyright {
  text-align: center;
}


@media screen and (max-width: 960px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 24px;
  margin: 2em 0 0;
}

p {
  line-height: 1.4em;
}

a {
  color: #42A0BD;
  text-decoration: underline;
}

a:hover {
  color: #42A0BD;
  text-decoration: none;
}

.trait h2 {
  font-weight: 100;
  font-size: 30px;
  margin: 1em 0 .1em 0;
}

.trait {
  margin: 0 40px 0 40px;
  padding-top: 10px;
}

.trait p {
  margin-bottom: 5px;
}

.trait img {
  max-width: 100%;
  margin: 20px 0;
}

.trait strong {
  color: #42A0BD;
}

header,
article,
footer {
  width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {

  header,
  article {
    width: auto;
    max-width: 600px;
    padding: 0 1em;
  }
}

header {
  padding: 1px 0;
}

header > img { 
  display: block;
  width: 250px;
  margin: 84px 0 60px;
}

@media screen and (max-width: 960px) {
  header {
    height: auto;
    text-align: center;
  }

  header h1 {
    font-size: 45px;
  }

  header nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .ribbon {
    display: none;
  }

  header h1 {
    font-size: 30px;
  }

}

@media print {
  header {
    height: auto;
  }
}

section {
  padding-top: 20px;
}

aside,
nav {
  width: 50%;
  float: left;
}

footer {
  margin-top: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {

  aside,
  nav {
    width: auto;
    float: none;
  }
}

@media print {
  nav {
    width: auto;
    float: none;
    margin: 0 4em;
  }
}

aside {
  text-align: center;
  width: 100%;
}

aside p {
  color: #999;
  font-style: italic;
  margin: 0;
}

/* SOCIALS */
.icon {
  fill: currentColor;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  display: inline-block;
}

.socials {
  border-top: 1px solid #eee;
  margin-top: 30px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.socials a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  line-height: 1;
}

.socials a:hover {
  opacity: .7;
}

.socials a:not(:last-child) {
  margin-right: 20px;
}

.socials a .icon {
  margin-right: 5px;
}